* {
    margin: 0;
    box-sizing: border-box;

}
#root {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
    border: 2px solid #213;
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
